.topNav {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #30363d;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.topNavContainer {
  max-width: 900px;
  display: flex;
}
.topNavContainer a {
  text-decoration: none;
  color: #eeee;
  display: flex;
}
.topNavItem {
  display: block;
  padding: 0 20px;
  cursor: pointer;
}
.topNavItem span {
  display: none;
}
@media (min-width: 650px) {
  .topNavItem span {
    display: block;
  }
}
.topNavItem i {
  font-size: 18px;
  margin-right: 10px;
}

.topNavItem:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.topNavItem.active {
  color: #fff;
  border-bottom: 1px solid #fff;
}